@font-face {

  font-family: "Quicksand";

  src: url("../fonts/Quicksand-Medium.ttf") format("truetype");

  font-display: swap;

}

@font-face {

  font-family: "Quicksand_Bold";

  src: url("../fonts/Quicksand-Bold.ttf") format("truetype");

  font-display: swap;

}

@font-face {

  font-family: "Nunito_Bold";

  src: url("../fonts/Nunito-Bold.ttf") format("truetype");

  font-display: swap;

}

.w-fit {

  width: -webkit-fit-content;

  width: -moz-fit-content;

  width: fit-content;

}



.mg-auto {

  margin-left: auto;

  margin-right: auto;

}



.f-bold {

  font-family: "Quicksand_Bold", sans-serif;

}



.fz-10 {

  font-size: 0.625rem;

}



.fz-12 {

  font-size: 0.75rem;

}



.fz-13 {

  font-size: 0.8125rem;

}



.fz-14 {

  font-size: 0.875rem;

}



.fz-16 {

  font-size: 1rem;

}



.fz-18 {

  font-size: 1.125rem;

}



.fz-19 {

  font-size: 1.1875rem;

}



.fz-20 {

  font-size: 1.25rem;

}



.fz-21 {

  font-size: 1.3125rem;

}



.fz-22 {

  font-size: 1.375rem;

}



.fz-23 {

  font-size: 1.4375rem;

}



.fz-24 {

  font-size: 1.5rem;

}



.fz-28 {

  font-size: 1.75rem;

}



.fz-30 {

  font-size: 1.875rem;

}



.fz-32 {

  font-size: 2rem;

}



.fz-36 {

  font-size: 2.25rem;

}



.fz-52 {

  font-size: 3.25rem;

}



.mb-0 {

  margin-bottom: 0 !important;

}



.mb-60 {

  margin-bottom: 3.75rem;

}



.mb-05 {

  margin-bottom: 0.3125rem;

}



.mb-10 {

  margin-bottom: 0.625rem !important;

}



.mb-15 {

  margin-bottom: 0.9375rem !important;

}



.mb-20 {

  margin-bottom: 1.25rem !important;

}



.mb-25 {

  margin-bottom: 1.5625rem;

}



.mb-30 {

  margin-bottom: 1.875rem;

}



.mb-35 {

  margin-bottom: 2.1875rem;

}



.mb-40 {

  margin-bottom: 2.5rem;

}



.mb-50 {

  margin-bottom: 3.125rem;

}



.mb-70 {

  margin-bottom: 4.375rem;

}



.mt-10 {

  margin-top: 0.625rem;

}



.mt-20 {

  margin-top: 1.25rem;

}



.mt-30 {

  margin-top: 1.875rem;

}



.ml-10 {

  margin-left: 0.625rem;

}



.ml-15 {

  margin-left: 0.9375rem;

}



.ml-25 {

  margin-left: 1.5625rem;

}



.ml-30 {

  margin-left: 1.875rem;

}



.mr-6 {

  margin-right: 0.375rem;

}



.mr-10 {

  margin-right: 0.625rem;

}



.mr-15 {

  margin-right: 0.9375rem;

}



.mr-20 {

  margin-right: 1.25rem;

}



.mr-25 {

  margin-right: 1.5625rem;

}



.mr-30 {

  margin-right: 1.875rem;

}



.pd-15 {

  padding: 0.9375rem;

}



.pd-20 {

  padding: 1.25rem;

}



.pd-30 {

  padding: 1.875rem;

}



.pb-15 {

  padding-bottom: 0.9375rem;

}



.pb-20 {

  padding-bottom: 1.25rem;

}



.pb-30 {

  padding-bottom: 1.875rem;

}



.pb-40 {

  padding-bottom: 2.5rem;

}



.pb-80 {

  padding-bottom: 5rem !important;

}



.pl-0 {

  padding-left: 0 !important;

}



.pl-50 {

  padding-left: 3.125rem;

}



.pt-0 {

  padding-top: 0;

}



.pt-140 {

  padding-top: 8.75rem !important;

}



.pr-0 {

  padding-right: 0 !important;

}



.cl-title {

  color: #2F2F2F;

}



.cl-gold {

  color: #ffdc73;

}



.cl-88 {

  color: #888;

}



.cl-white {

  color: #fff;

}



.cl-33 {

  color: #333;

}



.br-10 {

  border-radius: 10px;

}



.clamp-1 {

  overflow: hidden;

  text-overflow: ellipsis;

  -webkit-line-clamp: 1;

  display: -webkit-box;

  -webkit-box-orient: vertical;

}



.clamp-2 {

  overflow: hidden;

  text-overflow: ellipsis;

  -webkit-line-clamp: 2;

  display: -webkit-box;

  -webkit-box-orient: vertical;

}



.clamp-3,.clamp-3 p,.clamp-3 span {

  overflow: hidden;

  text-overflow: ellipsis;

  -webkit-line-clamp: 3;

  display: -webkit-box;

  -webkit-box-orient: vertical;

  text-align: left!important;

}




.justify {

  text-align: justify;

}



@-webkit-keyframes shine {

  100% {

    left: 125%;

  }

}



@keyframes shine {

  100% {

    left: 125%;

  }

}

.img__ {

  position: relative;

  overflow: hidden;

}

.img__:hover::after {

  -webkit-animation: shine 0.75s;

          animation: shine 0.75s;

}

.img__::after {

  position: absolute;

  top: 0;

  left: -86%;

  z-index: 2;

  display: block;

  content: "";

  width: 50%;

  height: 100%;

  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));

  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);

  -webkit-transform: skewX(-25deg);

  transform: skewX(-25deg);

}



.btn-hover {

  position: relative;

  overflow: hidden;

}

.btn-hover:hover::after {

  -webkit-animation: shine 0.75s;

          animation: shine 0.75s;

}

.btn-hover::after {

  position: absolute;

  top: 0;

  left: -75%;

  z-index: 2;

  display: block;

  content: "";

  width: 50%;

  height: 100%;

  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));

  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);

  -webkit-transform: skewX(-25deg);

  transform: skewX(-25deg);

}



.ip-op-0 {

  position: absolute;

  top: 0;

  left: 0;

  opacity: 0;

  cursor: pointer;

}



.rating-item {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;

}

.rating-item .rating {

  margin-right: 0rem;

}



.rating-item .rating-box {

  font-size: 0;

  line-height: 1;

  position: relative;

  white-space: nowrap;

  display: inline-block;

  margin: 0 auto;

  overflow: hidden;

  vertical-align: middle;

  font-size: 12px;

  color: #efc529;

  margin-right: 5px;

}



.rating-item .rating-box span {

  display: block;

  position: absolute;

  top: 0;

  left: 0;

  bottom: 0;

  z-index: 1;

  overflow: hidden;

  line-height: 1;

  pointer-events: none;

  width: 80%;

  color: #efc529;

}



.rating-item p {

  font-size: 12px;

  color: #efc529;

}



.back-to-top {

  pointer-events: none;

  opacity: 1;

  visibility: hidden;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;

  -webkit-transition: all 0.3s ease-in-out;

  transition: all 0.3s ease-in-out;

  border-radius: 5px;

  position: fixed;

  bottom: 20px;

  right: 20px;

  z-index: 10;

  width: 2.375rem;

  height: 2.375rem;

  border: 2px solid #777777;

}

.back-to-top i {

  color: #777777;

}

.back-to-top.show {

  opacity: 1;

  pointer-events: all;

  visibility: unset;

}



@-webkit-keyframes lac {

  0% {

    -webkit-transform: rotate(0);

            transform: rotate(0);

  }

  10% {

    -webkit-transform: rotate(-25deg);

            transform: rotate(-25deg);

  }

  20% {

    -webkit-transform: rotate(25deg);

            transform: rotate(25deg);

  }

  30% {

    -webkit-transform: rotate(-25deg);

            transform: rotate(-25deg);

  }

  40% {

    -webkit-transform: rotate(25deg);

            transform: rotate(25deg);

  }

  50% {

    -webkit-transform: rotate(0);

            transform: rotate(0);

  }

  100% {

    -webkit-transform: rotate(0);

            transform: rotate(0);

  }

}



@keyframes lac {

  0% {

    -webkit-transform: rotate(0);

            transform: rotate(0);

  }

  10% {

    -webkit-transform: rotate(-25deg);

            transform: rotate(-25deg);

  }

  20% {

    -webkit-transform: rotate(25deg);

            transform: rotate(25deg);

  }

  30% {

    -webkit-transform: rotate(-25deg);

            transform: rotate(-25deg);

  }

  40% {

    -webkit-transform: rotate(25deg);

            transform: rotate(25deg);

  }

  50% {

    -webkit-transform: rotate(0);

            transform: rotate(0);

  }

  100% {

    -webkit-transform: rotate(0);

            transform: rotate(0);

  }

}

textarea {

  resize: none;

}



.underline {

  -webkit-text-decoration-line: underline !important;

          text-decoration-line: underline !important;

}



.bg-white {

  background: #fff;

}



.pd-0 {

  padding: 0 !important;

}



.text-right {

  text-align: right;

}



select {

  -webkit-appearance: none;

     -moz-appearance: none;

          appearance: none;

}



.c-img {

  position: relative;

}

.c-img img {

  position: absolute;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  width: 100%;

  height: 100%;

}



.wrapper-input {

  position: relative;

}

.wrapper-input i {

  position: absolute;

  top: 50%;

  right: 15px;

  -webkit-transform: translateY(-50%);

          transform: translateY(-50%);

  z-index: 1;

}



.check-gender {

  gap: 0.5rem;

}

.check-gender input:checked ~ .text::after {

  display: block;

}

.check-gender .text {

  position: relative;

  padding-left: 1.5rem;

  cursor: pointer;

}

.check-gender .text::before {

  content: "";

  background: #FFFFFF;

  border: 1px solid #fff;

  width: 1rem;

  height: 1rem;

  border-radius: 100%;

  position: absolute;

  top: 50%;

  left: 0;

  -webkit-transform: translateY(-50%);

          transform: translateY(-50%);

  z-index: inherit;

}

.check-gender .text::after {

  content: "";

  width: 0.75rem;

  height: 0.75rem;

  border-radius: 100%;

  background: #FCAF17;

  z-index: 1;

  position: absolute;

  top: 50%;

  left: 2px;

  -webkit-transform: translateY(-50%);

          transform: translateY(-50%);

  display: none;

}



.avata-groups {

  width: 7.5rem;

  margin-left: auto;

  margin-right: auto;

}

.avata-groups .avatar-customers {

  position: relative;

  width: 7.5rem;

  height: 7.5rem;

  border-radius: 100%;

  overflow: hidden;

  margin-bottom: 1.25rem;

}

.avata-groups .avatar-customers img {

  position: absolute;

  top: 50%;

  left: 50%;

  -webkit-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  -o-object-fit: cover;

     object-fit: cover;

  z-index: 1;

}

.avata-groups .btn-update__avatars {

  background: #FFFFFF;

  border: 1px dashed #98A5B9;

  border-radius: 99px;

  color: #98A5B9;

  width: -webkit-fit-content;

  width: -moz-fit-content;

  width: fit-content;

  padding: 0.3125rem 0.9375rem;

  margin-left: auto;

  margin-right: auto;

}



.rating-modal .modal-dialog {

  max-width: 51.875rem !important;

}

.rating-modal .modal-body {

  padding: 4.375rem 1.5625rem 3.4375rem;

}

.rating-modal .product-rating:not(:last-child) {

  margin-bottom: 1.25rem;

}

.rating-modal .product {

  background: #f5f5f5;

  border-radius: 5px;

  padding: 1.5625rem 1.25rem;

}

.rating-modal .product .img-prd {

  width: 3.75rem;

  height: 3.75rem;

  -ms-flex-negative: 0;

      flex-shrink: 0;

  background-color: #fff;

}

.rating-modal .product .img-prd img {

  width: 100%;

  height: 100%;

  -o-object-fit: scale-down;

     object-fit: scale-down;

}

.rating-modal .product .ct-content {

  -webkit-box-flex: 1;

      -ms-flex: 1;

          flex: 1;

}

.rating-modal .form-rating .head-form {

  margin-bottom: 2.1875rem;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;

}

.rating-modal .form-rating .head-form .star {

  color: #888;

  font-size: 1.375rem;

}

.rating-modal .form-rating .head-form .item .text {

  display: block;

  background: #ffffff;

  border: 1px solid #ebebeb;

  border-radius: 99px;

  padding: 0.5rem 1.0625rem;

}

.rating-modal .form-rating .head-form .upload-image .text {

  position: relative;

  padding-left: 3.625rem;

}

.rating-modal .form-rating .head-form .upload-image .text::before {

  content: "";

  width: 0.9375rem;

  height: 0.9375rem;

  background-image: url(../images/camere-gray.png);

  background-size: contain;

  background-repeat: no-repeat;

  position: absolute;

  top: 50%;

  -webkit-transform: translateY(-50%);

          transform: translateY(-50%);

  left: 1.75rem;

}

.rating-modal .form-rating .head-form .sugges input:checked ~ .text {

  border: 1px solid red;

  background: red;

  color: #fff;

}

.rating-modal .form-rating .form-control {

  min-height: 6.75rem;

  border-radius: 5px;

  font-size: 0.875rem;

}

.rating-modal .form-rating .form-control::-webkit-input-placeholder {

  color: #888;

  font-size: 0.875rem;

}

.rating-modal .form-rating .form-control::-moz-placeholder {

  color: #888;

  font-size: 0.875rem;

}

.rating-modal .form-rating .form-control:-ms-input-placeholder {

  color: #888;

  font-size: 0.875rem;

}

.rating-modal .form-rating .form-control::-ms-input-placeholder {

  color: #888;

  font-size: 0.875rem;

}

.rating-modal .form-rating .form-control::placeholder {

  color: #888;

  font-size: 0.875rem;

}

.rating-modal .show-content-rating {

  padding: 1.5625rem 0 0 0;

  border-top: 1px solid #ebebeb;

}

.rating-modal .show-content-rating .avatar {

  width: 44px;

  height: 44px;

  border-radius: 100%;

  overflow: hidden;

  -ms-flex-negative: 0;

      flex-shrink: 0;

  position: relative;

}

.rating-modal .show-content-rating .avatar img {

  position: absolute;

  top: 50%;

  left: 50%;

  width: 100%;

  height: 100%;

  -webkit-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);

  -o-object-fit: cover;

     object-fit: cover;

}

.rating-modal .show-content-rating .list-image li {

  width: 94px;

  -ms-flex-negative: 0;

      flex-shrink: 0;

  max-height: 64px;

}

.rating-modal .show-content-rating .list-image li:not(:last-child) {

  margin-right: 16px;

}

.rating-modal .show-content-rating .list-image li img {

  width: 100%;

  max-height: 100%;

}

.rating-modal .show-content-rating .content-rating {

  padding-left: 59px;

}



#result-upload {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;

}

#result-upload div {

  width: 9.375rem;

  height: 9.375rem;

}

#result-upload div:not(:last-child) {

  margin-right: 20px;

  margin-bottom: 20px;

}

#result-upload div img {

  width: 100%;

  height: 100%;

  -o-object-fit: scale-down;

     object-fit: scale-down;

}



.cancel-order .modal-dialog {

  max-width: 39.375rem;

  margin-left: auto;

  margin-right: auto;

}

.cancel-order .check-gender {

  width: 100%;

  margin-bottom: 0.9375rem;

}



.close-modal {

  display: block;

  width: 0.75rem;

  height: 0.75rem;

  position: absolute;

  z-index: 1;

  top: 0.9375rem;

  right: 0.9375rem;

  cursor: pointer;

}

.close-modal::before, .close-modal::after {

  content: "";

  width: 1px;

  height: 100%;

  background: #212121;

  position: absolute;

  top: 50%;

  left: 50%;

  z-index: inherit;

}

.close-modal::before {

  -webkit-transform: translate(-50%, -50%) rotate(45deg);

          transform: translate(-50%, -50%) rotate(45deg);

}

.close-modal::after {

  -webkit-transform: translate(-50%, -50%) rotate(-45deg);

          transform: translate(-50%, -50%) rotate(-45deg);

}



@media (min-width: 992px) {

  .wow {

    visibility: hidden;

  }

}

@media (max-width: 991px) {

  #ratingModal {

    padding-right: 0;

  }

  #ratingModal .modal-dialog {

    max-width: 85% !important;

    margin-left: auto;

    margin-right: auto;

  }

}

@media (max-width: 767px) {

  #ratingModal .form-rating .head-form {

    -webkit-box-pack: start !important;

        -ms-flex-pack: start !important;

            justify-content: flex-start !important;

  }

  #ratingModal .form-rating .head-form .item {

    margin-bottom: 0.9375rem;

    margin-right: 0.9375rem;

  }

}

@media (max-width: 575px) {

  #ratingModal .modal-body {

    padding: 1.25rem;

  }



  #ratingModal .form-rating .head-form .star {

    font-size: 1rem;

  }



  .rating-modal .show-content-rating .content-rating {

    padding-left: 0;

  }

}